<p align="center">
<img src="https://cdn.datacamp.com/main-app/assets/brand/datacamp-horizontal-rgb-b641f95b7bdd7560b554c761a0b4910f9619907dd823c0e41244ed72078723bf.svg" alt = "DataCamp icon" width="50%">
</p>
<br><br>

## **Cleaning Data in Python live training**


Welcome to this live, hands-on training where you will learn how to effectively diagnose and treat missing data in Python.

The majority of data science work often revolves around pre-processing data, and making sure it's ready for analysis. In this session, we will be covering how transform our raw data into accurate insights. In this notebook, you will learn:

* Import data into `pandas`, and use simple functions to diagnose problems in our data.
* Visualize missing and out of range data using `missingno` and `seaborn`.
* Apply a range of data cleaning tasks that will ensure the delivery of accurate insights.

## **The Dataset**

The dataset to be used in this webinar is a CSV file named `airbnb.csv`, which contains data on airbnb listings in the state of New York. It contains the following columns:

- `listing_id`: The unique identifier for a listing
- `description`: The description used on the listing
- `host_id`: Unique identifier for a host
- `host_name`: Name of host
- `neighbourhood_full`: Name of boroughs and neighbourhoods
- `coordinates`: Coordinates of listing _(latitude, longitude)_
- `Listing added`: Date of added listing
- `room_type`: Type of room 
- `rating`: Rating from 0 to 5.
- `price`: Price per night for listing
- `number_of_reviews`: Amount of reviews received 
- `last_review`: Date of last review
- `reviews_per_month`: Number of reviews per month
- `availability_365`: Number of days available per year
- `Number of stays`: Total number of stays thus far

## **Getting started**

In [0]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import datetime as dt
import missingno as msno
import datetime as dt

In [0]:
# Read in the dataset
airbnb = pd.read_csv('https://github.com/adelnehme/python-for-spreadsheet-users-webinar/blob/master/datasets/airbnb.csv?raw=true', index_col = 'Unnamed: 0')

## **Diagnosing data cleaning problems using simple `pandas` and visualizations**

Some important and common methods needed to get a better understanding of DataFrames and diagnose potential data problems are the following: 

- `.head()` prints the header of a DataFrame
- `.dtypes` prints datatypes of all columns in a DataFrame
- `.info()` provides a bird's eye view of column data types and missing values in a DataFrame
- `.describe()` returns a distribution of numeric columns in your DataFrame
- `.isna().sum()` allows us to break down the number of missing values per column in our DataFrame
- `.unique()` finds the number of unique values in a DataFrame column

<br>

- `sns.displot()` plots the distribution of one column in your DataFrame.

In [0]:
# Print the header of the DataFrame

In [0]:
# Print data types of DataFrame

In [0]:
# Print info of DataFrame

In [0]:
# Print number of missing values

There are a variety of ways of dealing with missing data that is dependent on type of missingness, as well as the business assumptions behind our data - our options could be:

- Dropping missing data (if the data dropped does not impact or skew our data)
- Setting to missing and impute with statistical measures (median, mean, mode ...)
- Imputing with more complex algorithmic/machine learning based approaches
- Impute based on business assumptions of our data

In [0]:
# Print description of DataFrame

In [0]:
# Visualize the distribution of the rating column

In [0]:
# Find number of unique values in room_type column

In [0]:
# How many values of different room_types do we have?

## **Our to do list:**

_Data type problems:_

- **Task 1**: Split `coordinates` into 2 columns and convert them to `float`
- **Task 2**: Remove `$` from `price` and convert it to `float`
- **Task 3**: Convert `listing_added` and `last_review` to `datetime`

<br>

_Text/categorical data problems:_

- **Task 4**: We need to collapse `room_type` into correct categories
- **Task 5**: Divide `neighbourhood_full` into 2 columns and making sure they are clean

<br>

_Data range problems:_

- **Task 6**: Make sure we set the correct maximum for `rating` column out of range values

<br>

_Dealing with missing data:_

- **Task 7**: Understand the type of missingness, and deal with the missing data in most of the remaining columns. 

<br>

_Is that all though?_

- We need to investigate if we duplicates in our data
- We need to make sure that data makes sense by applying some sanity checks on our DataFrame

## **Cleaning data**

### Data type problems

In [0]:
# Reminder of the DataFrame

##### **Task 1:** Replace `coordinates` with `latitude` and `longitude` columns

To perform this task, we will use the following methods:

- `.str.replace("","")` replaces one string in each row of a column with another
- `.str.split("")` takes in a string and lets you split a column into two based on that string
- `.astype()` lets you convert a column from one type to another

In [0]:
# Remove "(" and ")" from coordinates


# Print the header of the column

In [0]:
# Split column into two

In [0]:
# Assign correct columns to latitude and longitude columns in airbnb


# Print the header and confirm new column creation

In [0]:
# Print out dtypes again

In [0]:
# Convert latitude and longitude to float


# Print dtypes again

In [0]:
# Drop coordinates column

##### **Task 2:** Remove `$` from `price` and convert it to `float`

To perform this task, we will be using the following methods:

- `.str.strip()` which removes a specified string from each row in a column
- `.astype()`

In [0]:
# Calculate mean of price without conversion

In [0]:
# Remove $ from price before conversion to float

# Print header to make sure change was done

In [0]:
# Convert price to float

# Calculate mean of price after conversion

In [0]:
# Visualize distribution of prices

##### **Task 3:** Convert `listing_added` and `last_review` columns to `datetime`

To perform this task, we will use the following functions:

- `pd.to_datetime(format = "")`
  - `format` takes in the desired date format `"%Y-%m-%d"`

In [0]:
# Print header of two columns

In [0]:
# Convert both columns to datetime

In [0]:
# Print header and datatypes of both columns again

### Text and categorical data problems

##### **Task 4:** We need to collapse `room_type` into correct categories

To perform this task, we will be using the following methods:

- `.str.lower()` to lowercase all rows in a string column
- `.str.strip()` to remove all white spaces of each row in a string column
- `.replace()` to replace values in a column with another

In [0]:
# Print unique values of `room_type`

In [0]:
# Deal with capitalized values

In [0]:
# Deal with trailing spaces

In [0]:
# Replace values to 'Shared room', 'Entire place', 'Private room' and 'Hotel room' (if applicable).






# Replace values and collapse data

##### **Task 5:** Divide `neighbourhood_full` into 2 columns and making sure they are clean

In [0]:
# Print header of column

In [0]:
# Split neighbourhood_full

In [0]:
# Create borough and neighbourhood columns


# Print header of columns

In [0]:
# Drop neighbourhood_full column

In [0]:
# Print out unique values of borough and neighbourhood

In [0]:
# Strip white space from neighbourhood column

# Print unique values again

##### **Task 6:** Make sure we set the correct maximum for `rating` column out of range values

In [0]:
# Visualize the rating column again

In [0]:
# Isolate rows of rating > 5.0

In [0]:
# Drop these rows and make sure we have effected changes

In [0]:
# Visualize the rating column again

In [0]:
# Get the maximum

### Dealing with missing data

The `missingno` (imported as `msno`) package is great for visualizing missing data - we will be using:

- `msno.matrix()` visualizes a missingness matrix
- `msno.bar()` visualizes a missngness barplot
- `plt.show()` to show the plot

In [0]:
# Visualize the missingness

In [0]:
# Visualize the missingness on sorted values

In [0]:
# Missingness barplot

**Treating the** `rating`, `number_of_stays`, `5_stars`, `reviews_per_month` **columns**

In [0]:
# Understand DataFrame with missing values in rating, number_of_stays, 5_stars, reviews_per_month

In [0]:
# Understand DataFrame with missing values in rating, number_of_stays, 5_stars, reviews_per_month

In [0]:
# Impute missing data




# Create is_rated column

**Treating the** `price` **column**

In [0]:
# Investigate DataFrame with missing values in price

In [0]:
# Investigate DataFrame with missing values in price

From a common sense perspective, the most predictive factor for a room's price is the `room_type` column, so let's visualize how price varies by room type with `sns.boxplot()` which displays the following information:


<p align="center">
<img src="https://github.com/adelnehme/cleaning-data-in-python-live-training/blob/master/boxplot.png?raw=true" alt = "DataCamp icon" width="80%">
</p>

In [0]:
# Visualize relationship between price and room_type

In [0]:
# Get median price per room_type

In [0]:
# Impute price based on conditions

In [0]:
# Confirm price has been imputed

### What's still to be done?

Albeit we've done a significant amount of data cleaning tasks, there are still a couple of problems we have yet to diagnose. When cleaning data, we need to consider:

- Values that do not make any sense *(for example: are there values of `last_review` that older than `listing_added`? Are there listings in the future?*)
- Presence of duplicates values - and how to deal with them?

##### **Task 8:** Do we have consistent date data?

In [0]:
# Doing some sanity checks on date data

In [0]:
# Are there reviews in the future?

In [0]:
# Are there listings in the future?

In [0]:
# Drop these rows since they are only 4 rows

In [0]:
# Are there any listings with listing_added > last_review

In [0]:
# Drop these rows since they are only 2 rows

##### **Task 9:** Let's deal with duplicate data


There are two notable types of duplicate data:

- Identical duplicate data across all columns
- Identical duplicate data cross most or some columns

To diagnose, and deal with duplicate data, we will be using the following methods and functions:

- `.duplicated(subset = , keep = )`
  - `subset` lets us pick one or more columns with duplicate values.
  - `keep` returns lets us return all instances of duplicate values.
- `.drop_duplicates(subset = , keep = )`

In [0]:
# Print the header of the DataFrame again

In [0]:
# Find duplicates

In [0]:
# Find duplicates

In [0]:
# Remove identical duplicates

In [0]:
# Find non-identical duplicates

In [0]:
# Show all duplicates

To treat identical duplicates across some columns, we will chain the `.groupby()` and `.agg()` methods where we group by the column used to find duplicates (`listing_id`) and aggregate across statistical measures for `price`, `rating` and `list_added`. The `.agg()` method takes in a dictionary with each column's aggregation method - we will use the following aggregations:

- `mean` for `price` and `rating` columns
- `max` for `listing_added` column
- `first` for all remaining column

*A note on dictionary comprehensions:*

Dictionaries are useful data structures in Python with the following format
`my_dictionary = {key: value}` where a `key` is mapped to a `value` and whose `value` can be returned with `my_dictionary[key]` - dictionary comprehensions allow us to programmatically create dicitonaries using the structure:

```
{x: x*2 for x in [1,2,3,4,5]} 
{1:2, 2:4, 3:6, 4:8, 5:10}
```

In [0]:
# Get column names from airbnb

In [0]:
# Create dictionary comprehension with 'first' as value for all columns not being aggregated

In [0]:
# Remove non-identical duplicates

In [0]:
# Make sure no duplication happened

In [0]:
# Print header of DataFrame

### Take home question

Try to answer the following questions about the dataset:

- What is the average price of listings by borough? Visualize your results with a bar plot!
- What is the average availability in days of listings by borough? Visualize your results with a bar plot!
- What is the median price per room type in each borough? Visualize your results with a bar plot!
- Visualize the number of listings over time.

**Functions that should/could be used:**
- `.groupby()` and `.agg(})`
- `sns.barplot(x = , y = , hue = , data = )`
- `sns.lineplot(x = , y = , data = )`
- `.dt.strftime()` for extracting specific dates from a `datetime` column

**Bonus points if:**
- You finish more than one question

**Submission details:**
- Share with us a code snippet with your output on LinkedIn, Twitter or Facebook
- Tag us on `@DataCamp` with the hashtag `#datacamplive`